<!DOCTYPE html>
<html class="h-100 bg-light" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Mongo</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- <link rel='stylesheet' type='text/css' href='{{app_context}}/bootstrap/css/bootstrap.min.css' /> --}}
    {{!-- <link rel='stylesheet' type='text/css' href='{{app_context}}/css/flatly.bootstrap.min.css' /> --}}
    <link rel="stylesheet" type='text/css' href='{{app_context}}/css/highlightjs.github.min.css'>
    <link rel='stylesheet' type='text/css' href='{{app_context}}/css/style.css' />
    <link rel='stylesheet' type='text/css' href='{{app_context}}/css/istyle.css' />
    <link rel='stylesheet' type='text/css' href='{{app_context}}/font-awesome/css/font-awesome.min.css' />
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    {{!-- <script src="{{app_context}}/jquery/jquery.min.js"></script>
    <script src="{{app_context}}/bootstrap/js/bootstrap.min.js"></script> --}}
    {{#if paginate}}
    <script src="{{app_context}}/js/jquery.bootpag.min.js"></script>
    {{/if}}
    {{!-- {{#if editor}} --}}
    <script src="{{app_context}}/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{app_context}}/js/toEJSON.js"></script>
    {{!-- <script src="{{app_context}}/js/editor.js"></script> --}}
    {{!-- {{/if}} --}}
    {{#if monitoring}}
    <script src="{{app_context}}/js/moment.min.js"></script>
    <script src="{{app_context}}/js/chart.min.js"></script>
    <script src="{{app_context}}/js/servermonitoring.js"></script>
    {{/if}}
    <script src="{{app_context}}/js/adminMongo.js"></script>
    <script src="{{app_context}}/js/highlight.min.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>

<body class="h-100 bg-light">
    <div class="container-fluid wrapper">
        <div class="row">
            {{#unless connections}}
            <div id="sidebar" class="col-12 col-md-3 col-xl-2 bg-light">
                <h4 class="text-center text-muted m-0 p-3">
                    iMongo
                </h4>
                <div class="filtable"  data-search="collection-name" data-page="12">
                    <div class="input-group bg-light icon-input mb-3">
                        <input type="text" class="search form-control" placeholder="Tìm kiếm..."
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="clear input-group-text py-0 my-0 clickable">
                                <i class="material-icons md-18">highlight_off</i>
                            </button>
                        </div>
                    </div>
                    <div class="list-group">
                        {{#if db_name}}
                        <div
                            class="bg-light list-group-item border-0 list-group-item-action d-flex align-items-center dropdown px-0">
                            <a class="d-flex align-items-center dropdown-toggle text-muted text-decoration-none"
                                href="#" id="connections-dropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons md-18 mr-2">power</i>
                                {{db_name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="connections-dropdown">
                                {{#each conn_list}}
                                <a class="dropdown-item d-flex align-items-center text-muted"
                                    href="{{app_context}}/app/{{@key}}">
                                    {{@key}}
                                </a>
                                {{/each}}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center text-muted" data-toggle="modal"
                                    href="#add-connection">
                                    <i class="material-icons md-18 mr-2">power</i>
                                    {{__ "Add Connection"}}
                                </a>
                            </div>
                        </div>
                        {{else}}
                        <a class="dropdown-item d-flex align-items-center text-muted" data-toggle="modal"
                            href="#add-connection">
                            <i class="material-icons md-18 mr-2">power</i>
                            {{__ "Add Connection"}}
                        </a>
                        {{/if}}
                        <div class="list">
                            {{#each sidebar_list}}
                            {{#each this}}
                            <a class="bg-light list-group-item border-0 list-group-item-action d-flex align-items-center px-0"
                                href="{{app_context}}/app/{{@../key}}/{{this}}/view">
                                <i class="material-icons md-18 mr-2">grid_on</i>
                                <span class="collection-name">{{this}}</span>
                            </a>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/unless}}
            {{#if connections}}
            <div class="col-12 p-0 bg-white" id="main">
                {{else}}
                <div class="col-12 col-md-9 col-xl-10 p-0 bg-white" id="main">
                    {{/if}}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="breadcrumb d-flex align-items-center mr-auto bg-transparent m-0 py-0">
                                <li class="breadcrumb-item d-flex align-items-center">
                                    <i class="material-icons text-muted md-18 mr-2">home</i>
                                    <a href="{{app_context}}/app">
                                        iMongo
                                    </a>
                                </li>
                                {{#if db_name}}
                                <li class="breadcrumb-item d-flex align-items-center">
                                    <i class="material-icons text-muted md-18 mr-2">power</i>
                                    <a href="{{app_context}}/app/{{db_name}}">
                                        {{db_name}}
                                    </a>
                                </li>
                                {{/if}}
                                {{#if coll_name}}
                                <li class="breadcrumb-item d-flex align-items-center">
                                    <i class="material-icons text-muted md-18 mr-2">grid_on</i>
                                    <a href="{{app_context}}/app/{{db_name}}/{{coll_name}}"
                                        class="text-info">{{coll_name}}</a>
                                    <a data-collection="{{coll_name}}" data-toggle="modal" data-target="#collectioName" class="clickable">
                                        <i class="material-icons text-muted md-18 mx-2">edit</i>
                                    </a>
                                </li>
                                {{/if}}
                            </ul>
                            <ul class="navbar-nav">
                                {{#if db_name}}
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center"
                                        href="{{app_context}}/app/monitoring/{{db_name}}">
                                        <i class="material-icons md-18 mr-2">desktop_mac</i>
                                        {{__ "Monitoring"}}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons md-18 mr-2">exit_to_app</i>
                                        {{__ "Logout"}}
                                    </a>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </nav>
                    <div class="p-2">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{coll_count}}" id="coll_count">
        <input type="hidden" value="{{db_name}}" id="db_name">
        <input type="hidden" value="{{coll_name}}" id="coll_name">
        <input type="hidden" value="{{docs_per_page}}" id="docs_per_page">
        <input type="hidden" value="{{paginate}}" id="to_paginate">
        <input type="hidden" value="{{app_context}}" id="app_context">
        <input type="hidden" value="{{doc_id}}" id="doc_id">
        <input type="hidden" id="edit_request_type" value="insert_doc">
        <div id="mobile-indicator"></div>
        <!-- Collection Name Modal -->
        <div class="modal fade" id="collectioName" tabindex="-1" role="dialog" aria-labelledby="collectionNameLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="collectionNameLabel">{{__ "Edit Collection name"}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="coll_name_newval" value="{{coll_name}}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                        <button type="button" class="btn btn-primary" id="coll_name_edit">{{__ "Save changes"}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Collection Name Modal -->
        <!-- Search documents Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="documentSearchLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="collectionNameLabel">{{__ "Search for documents"}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-primary" role="alert">{{__ "BSON types are not supported"}}</div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">{{__ "Key (Field)"}}:</label>
                            <select class="custom-select" id="search_key_fields"></select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">{{__ "Value"}}</label>
                            <input type="text" class="form-control" id="search_value_value"
                                placeholder="{{__ "Value"}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                        <button type="button" class="btn btn-primary" id="searchModalAction">{{__ "Search"}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search documents Modal -->
        <!-- Query Modal -->
        <div class="modal fade" id="queryDocuments" tabindex="-1" role="dialog" aria-labelledby="queryDocumentsLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryDocumentsLabel">{{__ "Query Documents"}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </div>
                    <div class="edit_json" id="json">{}</div>
                    <div class="modal-body text-muted d-flex align-items-center justify-content-end">
                        <i class="material-icons md-18 mr-2">help_outline</i>
                        <small
                            class="font-italic">{{__ "Queries need to be BSON types or Extended JSON formatted"}}</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                        <button type="button" class="btn btn-primary"
                            id="queryDocumentsAction">{{__ "Send query"}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- New document Modal -->
        <div class="modal fade" id="newDocument" tabindex="-1" role="dialog" aria-labelledby="newDocumentLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newDocumentLabel">{{__ "New Document"}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </div>
                    <div class="json-editor">{}</div>
                    <div class="modal-footer border-top-0">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                        <button type="button" class="btn btn-primary" id="newDocumentsAction">{{__ "Add"}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-connection" tabindex="-1" role="dialog" aria-labelledby="add-connection-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-connection-label">
                            {{__ "Add Connection"}}
                            (See <a href="https://docs.mongodb.com/manual/reference/connection-string"
                                target="_blank">docs</a>)
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new_conf_conn_db"><strong>{{__ "Database"}}</strong></label>
                            <input type="text" class="form-control" placeholder="admin" id="new_conf_conn_db"
                                name="new_conf_conn_db">
                        </div>
                        <div class="form-group">
                            <label for="new_conf_conn_host"><strong>{{__ "Host"}}</strong></label>
                            <div class="input-group item-addable new_conf_conn_host_port">
                                <input type="text" class="form-control new_conf_conn_host" placeholder="127.0.0.1">
                                <input type="text" class="form-control new_conf_conn_port"
                                    style="flex: 0 0 75px; width: 75px" placeholder="27017">
                                <div class="input-group-append btn-remove">
                                    <span class="input-group-text">
                                        <i class="material-icons md-18">remove</i>
                                    </span>
                                </div>
                                <div class="input-group-append btn-add">
                                    <span class="input-group-text">
                                        <i class="material-icons md-18">add</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_conf_conn_username"><strong>{{__ "User Name"}}</strong></label>
                            <input type="text" class="form-control" id="new_conf_conn_username"
                                name="new_conf_conn_username">
                        </div>
                        <div class="form-group">
                            <label for="new_conf_conn_password"><strong>{{__ "Password"}}</strong></label>
                            <input type="password" class="form-control" id="new_conf_conn_password"
                                name="new_conf_conn_password">
                        </div>
                        <div class="form-group">
                            <label for="connection_options"><strong>{{__ "Connection options"}}</strong> (See <a
                                    href="https://mongodb.github.io/node-mongodb-native/2.1/reference/connecting/connection-settings/"
                                    target="_blank">docs</a>)</label>
                            <div class="connection_json json-editor" id="connection_options">{}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                        <button type="button" class="btn btn-primary" id="add_config">{{__ "Add"}}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Export collection Modal -->
        <div id="notify_messages">
            <div id="notify_message" role="alert"></div>
        </div>
</body>

</html>