{{!-- <ol class="breadcrumb">
    <li><a href="{{app_context}}/app">{{__ "Home"}}</a></li>
    <li><a href="{{app_context}}/app/{{conn_name}}">{{conn_name}}</a>&nbsp;({{__ "connection"}})</li>
    <li><a href="{{app_context}}/app/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;({{__ "database"}})</li>
    <li><a href="{{app_context}}/app/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;({{__ "collection"}})</li>
</ol> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#doc-actions"
        aria-controls="doc-actions" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="doc-actions">
        <ul class="navbar-nav mr-auto">
            <a href="#newDocument" data-toggle="modal" class="nav-link d-inline-flex align-items-center">
                <i class="material-icons md-18 mr-2">add</i>
                {{__ "New document"}}
            </a>
            {{!-- <a class="nav-link d-inline-flex align-items-center"
                href="{{app_context}}/app/{{conn_name}}/{{db_name}}/{{coll_name}}/new">
                <i class="material-icons md-18 mr-2">add</i>
                {{__ "New document"}}
            </a> --}}
            {{!-- <a href="#searchModal" class="nav-link d-inline-flex align-items-center" data-toggle="modal"><i
                    class="material-icons md-18 mr-2">add</i>{{__ "Search"}}</a> --}}
            <a href="#queryDocuments" class="nav-link d-inline-flex align-items-center" id="btnqueryDocuments"
                data-toggle="modal"><i class="material-icons md-18 mr-2">search</i>{{__ "Query"}}</a>
            <a href="#" class="nav-link d-inline-flex align-items-center" id="searchReset"><i
                    class="material-icons md-18 mr-2">undo</i>{{__
                "Reset"}}</a>
            <a class="nav-link d-inline-flex align-items-center"
                href="{{app_context}}/app/{{conn_name}}/{{db_name}}/{{coll_name}}/indexes">
                <i class="material-icons md-18 mr-2">av_timer</i>{{__ "Indexes"}}</a>
        </ul>
        <span class="navbar-text mr-3">Docs per page</span>
        <form class="form-inline">
            <select class="custom-select mr-3" id="docsPerPage">
                <option>5</option>
                <option selected>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
        </form>
        <span class="navbar-text mr-3">
            <strong>{{__ "Total records"}}:</strong> <span id="recordCount">0</span>
        </span>
        <form class="form-inline">
            <button class="btn btn-outline-danger my-2 my-sm-0" id="btnMassDelete">Delete all</button>
        </form>
    </div>
</nav>

<div id="doc_load_placeholder" class="p-4">
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner-border-xs text-primary" style="width:3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div id="doc_none_found" class="p-3 mt-3" style="display:none">
    <h4 class="alert alert-warning" role="alert">
        {{__ "No documents found"}}
    </h4>
</div>
<div id="coll_docs"></div>

<nav id="pager" class="my-4" aria-label="Page navigation"></nav>

<input type="hidden" id="page_num" value="{{page_num}}">