<table class="table">
    <thead>
        <tr>
            <th class="border-top-0">{{__ "Name"}}</th>
            <th class="border-top-0">{{__ "Key"}}</th>
            <th class="border-top-0">{{__ "Unique"}}</th>
            <th class="border-top-0">{{__ "Sparse"}}</th>
            <th class="border-top-0">
                <a href="#createIndexModal" data-toggle="modal"
                    class="d-inline-flex align-items-center text-muted text-decoration-none">
                    <i class="material-icons md-18 mr-2 text-muted">add_circle_outline</i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each coll_indexes}}
        <tr id="index_row_{{@index}}">
            <td>{{this.name}}</td>
            <td>{{{toJSON this.key}}}</td>
            <td>{{niceBool this.unique}}</td>
            <td>{{niceBool this.sparse}}</td>
            <td>
                <div class="d-inline-flex align-items-center">
                    <a href="#{{@index}}"
                        class="drop-index d-inline-flex align-items-center text-muted text-decoration-none">
                        <i class="material-icons md-18 text-danger">highlight_off</i>
                    </a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Query Modal -->
<!-- Export collection Modal -->
<div class="modal fade" id="createIndexModal" tabindex="-1" role="dialog" aria-labelledby="createIndexModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createIndexModalLabel">{{__ "Create Index"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons md-18">close</i>
                </button>
            </div>
            <div class="index_json json-editor" id="json">{}</div>
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="index_unique" class="custom-control-input clickable" checked>
                        <label class="custom-control-label clickable" for="index_unique">{{__ "Unique"}}</label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="index_sparse" class="custom-control-input clickable" checked>
                        <label class="custom-control-label clickable" for="index_sparse">{{__ "Sparse"}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Close"}}</button>
                <button class="btn btn-primary action_button" id="coll_addindex">{{__ "Create"}}</button>
            </div>
        </div>
    </div>
</div>