{{!-- <ol class="breadcrumb">
    <li><a href="{{app_context}}/app">{{__ "Home"}}</a></li>
    <li><a href="{{app_context}}/app/{{conn_name}}">{{conn_name}}</a>&nbsp;({{__ "connection"}})</li>
    <li><a href="{{app_context}}/app/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;({{__ "database"}})</li>
    <li><a href="{{app_context}}/app/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;({{__ "collection"}})</li>
    <li><a href="{{app_context}}/app/{{conn_name}}/{{db_name}}/{{coll_name}}/{{doc_id}}">{{doc_id}}</a>&nbsp;({{__ "document"}})</li>
</ol> --}}

<div id="doc_load_placeholder" class="p-4">
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner-border-xs text-primary" style="width:3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div id="doc_none_found" class="p-3 mt-3" style="display:none">
    <h4 class="alert alert-warning" role="alert">
        {{__ "No documents found"}}
    </h4>
</div>
<div id="coll_docs"></div>

<div id="pager" class="text-center pagination-sm"></div>

<input type="hidden" id="page_num" value="1">
